@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body{
  background-color: aliceblue;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s linear 300ms, opacity 300ms, height 300ms;
}

.fade-in {
  animation: fadeIn 300ms;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}